<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Buku {{ .Name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Edit Buku {{ .Name }}</h1>
        <a href="/books" class="btn btn-secondary mb-2">Back</a>
        <form action="/books/update/{{ .ID }}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ .Name }}" required>
            </div>
            <div class="mb-3">
                <label for="category_id" class="form-label">Category ID</label>
                <input type="number" class="form-control" id="category_id" name="category_id" value="{{ .CategoryId }}"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>