<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book CRUD</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Book CRUD</h1>
        <div class="alert alert-primary mt-3" role="alert">
            This is a simple book CRUD application built with Go and Bootstrap.
        </div>

        <div class="alert alert-success mt-3 mb-3">
            This application, you can create, read, update, and delete books.
        </div>
        <a class="btn btn-primary" href="/books">Show All Book</a>
    </div>
</body>

</html>