<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book {{ .Book.Name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Book {{ .Book.Name }}</h1>
        <a href="/books" class="btn btn-secondary mb-2">Back</a>

        <table class="table table-bordered">
            <tr>
                <td>ID</td>
                <td>{{ .Book.ID }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ .Book.Name }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ index .Category $.Book.CategoryId }}</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>{{ .Book.CreatedAt }}</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>
                    {{if .Book.UpdatedAt}}
                    {{ .Book.UpdatedAt }}
                    {{else}}
                    {{"-"}}
                    {{end}}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>